@reference "tailwindcss";

.main {
	@apply 
		fixed 
		top-0 
		left-0 
		right-0 
		z-50 
		flex 
		justify-center 
		py-5 
		bg-white/70 
		backdrop-blur-lg 
		border-b 
		border-white/20;
}

.unOrdered {
	@apply 
		flex h-[70px] 
		w-fit 
		items-center 
		justify-center
		gap-2 
		rounded-full 
		bg-white 
		p-[10px] 
		shadow-[0px_12px_40px_rgba(0,27,92,0.08)];
}

.catalogueBtn
{
	@apply
		flex 
		h-[50px] 
		w-full 
		shrink-0 
		items-center 
		justify-center 
		gap-[8px]

		sm:py-[18px] 
		sm:px-[20px] 
		sm:text-[14px]

		py-[10px] 
		px-[18px] 
		text-[12px]

		transition-all
		duration-300
		ease-in-out 
		cursor-pointer
        select-none
        transition-shadow 
        duration-200
		rounded-full;
}

.navLink {
	@apply
		flex 
		h-[50px] 
		w-full 
		shrink-0 
		items-center 
		justify-center 
		gap-[8px] 
		
		sm:py-[18px] 
		sm:px-[20px] 
		sm:text-[14px]

		py-[10px] 
		px-[18px] 
		text-[12px]

		transition-all
		duration-300
		ease-in-out 
		rounded-full 
		hover:text-[#A855F7];
}

.navLink:global(.active) {
	@apply
		text-[#A855F7]
}