@reference "tailwindcss";

/*Navigation.tsx*/

.unOrderList {
  @apply
    flex
    md:w-fit
    w-full
    items-center
    justify-center
    p-[8px]
    gap-1
    md:rounded-full 
		bg-white
    shadow-[0px_12px_40px_rgba(0,27,92,0.08)];
}

.navLink {
  @apply
    flex
    h-12
    w-full
    items-center
    justify-center

    rounded-full

    text-xs

    transition-all
    duration-300
    ease-in-out

    hover:text-[#A855F7]

    md:w-auto
    md:px-4
    md:text-sm;
}

.navLink:global(.active) {
	@apply
		text-[#A855F7]
}


/*CatalogueBtn.jsx*/

:root {
  --lightbox-bg:
    radial-gradient(circle at 42% 65%, #b77cff 0%, transparent 22%),
    radial-gradient(circle at 55% 50%, #ff8fb8 0%, transparent 20%),
    radial-gradient(circle at 68% 35%, #ffd39b 0%, transparent 18%),
    linear-gradient(135deg, #fdf4ff, #fff7ed);
}

.catalogueBtn
{
	@apply
		flex 
		h-[45px] 
		w-full 
		shrink-0 
		items-center 
		justify-center 
		gap-[8px]

		py-[10px] 
		px-[20px] 
		text-[13px]

		bg-[#121212] 
		shadow-[inset_0_0_20px_rgba(255,255,255,0.8)] 
		text-white

		transition-all
		duration-300
		ease-in-out 
		cursor-pointer
        select-none
        transition-shadow 
        duration-200
		rounded-full;
}

.catalogueToolBarBtn 
{
	@apply 
		flex 
		h-9 
		w-9 
		cursor-pointer 
		items-center 
		justify-center 
		rounded-full 
		bg-black/50 
		text-white 
		shadow-sm 
		transition 
		hover:bg-black/70;
}
